CONFIG_R8169=m
CONFIG_IGB=m
CONFIG_IGC=m
CONFIG_USB_SERIAL_OPTION=m
CONFIG_USB_NET_CDC_MBIM=m
CONFIG_USB_NET_QMI_WWAN=m
CONFIG_USB_SERIAL_QUALCOMM=m
CONFIG_IWLWIFI=m
CONFIG_IWLDVM=m
CONFIG_IWLMVM=m
CONFIG_VIDEO_DS90UB913=m
CONFIG_VIDEO_DS90UB953=m
CONFIG_VIDEO_DS90UB960=m
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_IP_ROUTE_MULTIPATH=y
CONFIG_NFSD=y
#
CONFIG_USB_ETH=m
CONFIG_USB_ETH_RNDIS=y
#
CONFIG_USB_GADGETFS=m
CONFIG_USB_MASS_STORAGE=m
CONFIG_USB_G_SERIAL=m
CONFIG_USB_RAW_GADGET=m
#
CONFIG_RTC_DRV_ISL1208=m
