#!/bin/bash

# SPDX-FileCopyrightText: Copyright (c) 2023-2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: MIT

# Combined Edge-AI NX capsule for P3767-0000 (16 GB) and P3767-0001 (8 GB).
t23x_3767_bl_spec=(
    'boardid=3767;fab=000;boardsku=0000;boardrev=;chiprev=;chipsku=00:00:00:D3;board=jetson-orin-nano-devkit;rootdev=mmcblk0p1;bup_type=bl'
    'boardid=3767;fab=000;boardsku=0000;boardrev=;chiprev=;chipsku=00:00:00:D3;board=jetson-orin-nano-devkit-super;rootdev=mmcblk0p1;bup_type=bl'
    'boardid=3767;fab=000;boardsku=0001;boardrev=;chiprev=;chipsku=00:00:00:D4;board=jetson-orin-nano-devkit;rootdev=mmcblk0p1;bup_type=bl'
    'boardid=3767;fab=000;boardsku=0001;boardrev=;chiprev=;chipsku=00:00:00:D4;board=jetson-orin-nano-devkit-super;rootdev=mmcblk0p1;bup_type=bl'
)
