#!/bin/bash

# SPDX-FileCopyrightText: Copyright (c) 2023-2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: MIT

# Combined Edge-AI Nano capsule for P3767-0003 (8 GB) and P3767-0004 (4 GB).
t23x_3767_bl_spec=(
    'boardid=3767;fab=300;boardsku=0003;boardrev=;chiprev=;chipsku=00:00:00:D5;board=jetson-orin-nano-devkit;rootdev=mmcblk0p1;bup_type=bl'
    'boardid=3767;fab=300;boardsku=0003;boardrev=;chiprev=;chipsku=00:00:00:D5;board=jetson-orin-nano-devkit-super;rootdev=mmcblk0p1;bup_type=bl'
    'boardid=3767;fab=301;boardsku=0004;boardrev=;chiprev=;chipsku=00:00:00:D6;board=jetson-orin-nano-devkit;rootdev=mmcblk0p1;bup_type=bl'
    'boardid=3767;fab=301;boardsku=0004;boardrev=;chiprev=;chipsku=00:00:00:D6;board=jetson-orin-nano-devkit-super;rootdev=mmcblk0p1;bup_type=bl'
)
